body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1543px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1410px;
  height:3179px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:-2px;
  width:1400px;
  height:3169px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1576px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:833px;
  top:48px;
  width:200px;
  height:1px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:49px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:9px;
  width:95px;
  height:49px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1299px;
  top:34px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:153px;
  height:8px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:1898px;
  width:140px;
  height:22px;
  color:#008000;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1768px;
  width:140px;
  height:22px;
  color:#008000;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:1885px;
  width:140px;
  height:22px;
  color:#008000;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:1885px;
  width:140px;
  height:22px;
  color:#008000;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:2457px;
  width:140px;
  height:22px;
  color:#008000;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:2326px;
  width:140px;
  height:22px;
  color:#008000;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:1005px;
  top:2444px;
  width:140px;
  height:22px;
  color:#008000;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:2333px;
  width:140px;
  height:22px;
  color:#008000;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u113 {
  border-width:0px;
  position:absolute;
  left:616px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u114 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u115 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:9px;
  width:71px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
