body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:978px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:978px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:481px;
  width:1371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1249px;
  height:761px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:217px;
  width:1249px;
  height:761px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:372px;
  width:1245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:2303px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:217px;
  width:998px;
  height:2303px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1144px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:153px;
  width:176px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u125 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:153px;
  width:176px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u126 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:153px;
  width:175px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u127 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:153px;
  width:154px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u128 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u129 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u130 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u131 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:9px;
  width:71px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
