body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:218px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:218px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:101px;
  width:1371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:3269px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:218px;
  width:1375px;
  height:3269px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1626px;
  width:1371px;
  visibility:hidden;
  word-wrap:break-word;
}
