body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:3477px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:3477px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1730px;
  width:1371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:975px;
  width:140px;
  height:22px;
  color:#008000;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:1045px;
  width:140px;
  height:22px;
  color:#008000;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:755px;
  width:140px;
  height:22px;
  color:#008000;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u280_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:1496px;
  width:140px;
  height:22px;
  color:#008000;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u282_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:996px;
  top:1630px;
  width:140px;
  height:22px;
  color:#008000;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:1633px;
  width:140px;
  height:22px;
  color:#008000;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u286_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:2553px;
  width:140px;
  height:22px;
  color:#008000;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:2793px;
  width:140px;
  height:22px;
  color:#008000;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:150px;
  height:32px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:786px;
  top:2911px;
  width:140px;
  height:22px;
  color:#008000;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:1113px;
  top:2281px;
  width:100px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u293 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u294 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u295 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u296 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:9px;
  width:71px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
