body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1385px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1385px;
  height:1188px;
  background:inherit;
  background-color:rgba(246, 247, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:214px;
  width:1385px;
  height:1188px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:586px;
  width:1381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:214px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:214px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:99px;
  width:1371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:998px;
  height:2302px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:214px;
  width:998px;
  height:2302px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1143px;
  width:994px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:163px;
  width:46px;
  height:31px;
  font-size:20px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:153px;
  width:176px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u177 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:153px;
  width:176px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u178 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:153px;
  width:175px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u179 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:153px;
  width:154px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u180 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u181 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u182 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u183 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:9px;
  width:71px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
