body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:898px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:898px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:441px;
  width:1371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1375px;
  height:1908px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:898px;
  width:1375px;
  height:1908px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:946px;
  width:1371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:153px;
  width:176px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u159 {
  border-width:0px;
  position:absolute;
  left:166px;
  top:153px;
  width:176px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u160 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:153px;
  width:175px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u161 {
  border-width:0px;
  position:absolute;
  left:1039px;
  top:153px;
  width:154px;
  height:48px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u162 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u163 {
  border-width:0px;
  position:absolute;
  left:593px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u164 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:9px;
  width:100px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u165 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:9px;
  width:71px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
